html {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", sans-serif;
}

.domain {
  visibility: hidden;
}


.education {
  /* visibility: visible; */
}

.race {
  /* visibility: hidden; */
}

.main-container {}

#graph-container {
  padding: 20px;
}

#subtitle {}

#description {
  width: 400px;
}

.switch {
  border: none;
  margin: 0;
  width: 100px;
  height: 30px;
  justify-content: center;
}

.selected {
  background-color: lightblue;
}

#ed-button {
  margin-right: -10px;
}