html {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", sans-serif;
}

.domain {
  visibility: hidden;
}


.education {
  /* visibility: visible; */
}

.race {
  /* visibility: hidden; */
}

.main-container {

}

#graph-container {
  padding: 20px;
}

#subtitle {

}